*{
    margin: 0%;
    padding: 0%;
}

.titlelogo{
    padding-left:200px;
}

.carousel .carousel-item {
    height: 700px;
    background-size: cover;
}
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 700px;
}

.galhed{
   background-color: aqua;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: red;
    
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
#dest{
    background-color: rgb(143, 247, 46);
}

.imghed{
    background-color: rgb(220, 250, 51);
}